<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../static/css/paper.css" th:href="@{/css/paper.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
</head>
<body>

<!-- 导航 -->
<nav th:fragment="navigation(n)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary menu">
            <a href="#" th:href="@{/admin/dashboard}" class="ui teal header item">后台管理</a>
            <a href="#" th:href="@{/admin/types}" class="item" th:classappend="${n==1} ? 'active'"><i class="idea icon"></i>学科管理</a>
            <a href="#" th:href="@{/admin/journals}" class="item" th:classappend="${n==2} ? 'active'"><i class="idea icon"></i>期刊管理</a>
            <a href="#" th:href="@{/admin/news}" class="item" th:classappend="${n==3} ? 'active'"><i class="idea icon"></i>新闻管理</a>
            <a href="#" th:href="@{/admin/specialists}" class="item" th:classappend="${n==4} ? 'active'"><i class="idea icon"></i>编辑团队</a>
            <a href="#" th:href="@{/admin/aboutus}" class="item" th:classappend="${n==5} ? 'active'"><i class="idea icon"></i>关于我们</a>
            <div class="right menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <i class="user icon"></i>
                        管理员
                        <i class="dropdown icon"></i>
                    </div>
                    <div class="menu">
                        <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        <a href="#" th:href="@{/admin/edit}" class="item">修改账户信息</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>


    <script th:fragment="script" type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});



	</script>

</body>
</html>