<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/lib/semanticui/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/lib/semanticui/semantic.min.js}"></script>
</head>
<body>

<!-- 导航 -->
<nav th:insert="admin/_form :: navigation(0)"></nav>

<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui four statistics">
            <div class="statistic">
                <div class="value" th:text="${subject}">
                    22
                </div>
                <div class="label">
                    学科数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" th:text="${journal}">
                    22
                </div>
                <div class="label">
                    国际期刊数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" th:text="${journal_cn}">
                    22
                </div>
                <div class="label">
                    中文期刊数量
                </div>
            </div>
            <div class="statistic">
                <div class="value" th:text="${news}">
                    22
                </div>
                <div class="label">
                    新闻数量
                </div>
            </div>
            </div>
        </div>
    <img class="ui fluid image" th:src="@{/images/welcome.jpg}">
    </div>

</div>





<!--<div th:insert="admin/_form :: journallist"></div>-->

<!--<div th:insert="admin/_form :: journallist"></div>-->

<!--<script th:insert="admin/_form :: script"></script>-->


<script type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});
</script>

</body>
</html>