<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
</head>
<body>

<!-- 导航 -->
<nav th:insert="admin/_form :: navigation(1)"></nav>


<!--<div th:insert="admin/_form :: journallist"></div>-->

<!--<div th:insert="admin/_form :: journallist"></div>-->

<!--<script th:insert="admin/_form :: script"></script>-->


<script type="text/javascript">
		$('.ui.dropdown').dropdown();
</script>

</body>
</html>