<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/lib/semanticui/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.css" th:href="@{/lib/editor/css/editormd.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/lib/semanticui/semantic.min.js}"></script>
    <script src="../../static/lib/editor/editormd.min.js" th:src="@{/lib/editor/editormd.min.js}"></script>

</head>
<body>

<!-- 导航 -->
<nav th:insert="admin/_form :: navigation(2)"></nav>

<div class="m-container-big m-padded-tb-big">
    <div class="ui container">

        <div th:insert="admin/_form :: sidebar(2)"></div>


        <form action="#" method="get" th:action="@{/admin/journals_cn/search}" class="ui secondary segment form">
            <input type="hidden" name="page">

            <!-- 搜索 -->
            <div class="ui horizontal list">
                <div class="item">
                    <div class="content">
                        <div class="ui input focus">
                            <input type="text" name="issn" placeholder="ISSN">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui input focus">
                            <input type="text" name="name" placeholder="期刊名称">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content m-inline-block">
                        显示条数
                        <div class="ui selection dropdown">
                            <input type="hidden" name="num">
                            <i class="dropdown icon"></i>
                            <div class="default text" th:text="${numb_show == null} ? '20' : ${numb_show}">20</div>
                            <div class="menu" >
                                <div class="item" th:data-value=10>10</div>
                                <div class="item" th:data-value=20>20</div>
                                <div class="item" th:data-value=30>30</div>
                                <div class="item" th:data-value=40>40</div>
                                <div class="item" th:data-value=-1>all</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <button type="submit" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>

        <!--    提示消息    -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>


        <div id="table-container">
            <table th:fragment="journal-list" class="ui fixed celled structured table">
                <thead>
                <tr class="center aligned">
                    <th class="one wide" rowspan="2">序号</th>
                    <th class="three wide" rowspan="2">ISSN</th>
                    <th class="four wide" rowspan="2">期刊名称</th>
                    <th class="one wide" rowspan="2">FMS等级</th>
                    <th class="four wide" rowspan="2">主办单位</th>
                    <th class="three wide" rowspan="2">操作</th>
                </tr>
                </thead>
                <tbody th:if="${page}">
                <tr th:each="journal,iterStat : ${page.content}">
                    <td class="center aligned" th:text="${iterStat.count}+${page.number}*${numb_show}">1</td>
                    <td class="center aligned " th:text="${journal.issn}">ISSN</td>
                    <td style="word-break:break-all;" th:text="${journal.name}">Accounting Review</td>
                    <td class="center aligned" th:text="${journal.fms}">4*</td>
                    <td style="word-break:break-all;" class="center aligned" th:text="${journal.host}">4</td>
                    <td >
                        <a href="#" th:href="@{/admin/journal_cn/{id}/input(id=${journal.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/journal_cn/{id}/delete(id=${journal.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tbody th:if="${pagel}">
                <tr th:each="journal,iterStat : ${pagel}">
                    <td class="center aligned" th:text="${iterStat.count}">1</td>
                    <td class="center aligned" th:text="${journal.issn}">ISSN</td>
                    <td th:text="${journal.name}">Accounting Review</td>
                    <td class="center aligned" th:text="${journal.fms}">4*</td>
                    <td style="word-break:break-all;" class="center aligned" th:text="${journal.host}">4</td>
                    <td >
                        <a href="#" th:href="@{/admin/journal_cn/{id}/input(id=${journal.id})}" class="ui mini teal basic button">编辑</a>
                        <a href="#" th:href="@{/admin/journal_cn/{id}/delete(id=${journal.id})}" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>

                <tfoot th:if="${page}">
                <tr th:if="${search==null}">
                    <th colspan="12">
                        <div class="ui right floated pagination menu" >
                            <a th:href="@{/admin/journals_cn(num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >首页</a>
                            <a th:href="${page.first == true} ? @{/admin/journals_cn(num=${numb_show == null} ? '20' : ${numb_show})} : @{/admin/journals_cn(page = ${page.number}-1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >上一页</a>
                            <a th:href="${page.last == true} ? @{/admin/journals_cn(page = ${page.totalPages}-1, num=${numb_show == null} ? '20' : ${numb_show})} : @{/admin/journals_cn(page = ${page.number}+1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >下一页</a>
                            <a th:href="@{/admin/journals_cn(page = ${page.totalPages}-1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >尾页</a>
                        </div>
                        <a href="#" th:href="@{/admin/journal_cn/input}" class="ui mini left floated teal basic button">新增</a>
                        <a href="#" th:href="@{/admin/journal_cn/upload}" class="ui mini left floated teal basic button">批量导入</a>
                        <a th:href="@{/admin/download_cn}" class="ui mini left floated teal basic button">批量下载</a>
                        <a href="#" th:href="@{/admin/journal_cn/delall}" class="ui mini left floated teal basic button">清空数据</a>
                    </th>
                </tr>
                <tr th:if="${search!=null}">
                    <th colspan="12">
                        <div class="ui right floated pagination menu" >
                            <a th:href="@{/admin/journals_cn/search(page = 0, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >首页</a>
                            <a th:href="${page.first == true} ? @{/admin/journals_cn/search(page = 0, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})} : @{/admin/journals_cn/search(page = ${page.number}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >上一页</a>
                            <a th:href="${page.last == true} ? @{/admin/journals_cn/search(page = ${page.totalPages}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})} : @{/admin/journals_cn/search(page = ${page.number}+1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >下一页</a>
                            <a th:href="@{/admin/journals_cn/search(page = ${page.totalPages}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >尾页</a>
                        </div>
                        <a href="#" th:href="@{/admin/journal_cn/input}" class="ui mini left floated teal basic button">新增</a>
                        <a href="#" th:href="@{/admin/journal_cn/upload}" class="ui mini left floated teal basic button">批量导入</a>
                        <a th:href="@{/admin/download_cn}" class="ui mini left floated teal basic button">批量下载</a>
                        <a href="#" th:href="@{/admin/journal_cn/delall}" class="ui mini left floated teal basic button">清空数据</a>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- 默认首页显示期刊列表 -->

    </div>
</div>

<script th:fragment="script" type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});

		//
		function page(obj) {
		    $("[name='page']").val($(obj)).data("page");
		    loaddata();
		};

        $("#search-btn").click(function(){
            loaddata();
        });

		function loaddata() {
		    $("#table-container").load(/*[[@{/admin/journals_cn/search}]]*/"/admin/journals_cn/search",{
		        name : $("[name='name']").val(),
		        issn : $("[name='issn']").val(),
		        subject : $("[name='subject']").val(),
                page : $("[name='page']").val()
		    });
		}


	</script>

</body>
</html>