<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.css" th:href="@{/lib/editor/css/editormd.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
    <script src="../../static/lib/editor/editormd.min.js" th:src="@{/lib/editor/editormd.min.js}"></script>

</head>
<body>

<!-- 导航 -->
<nav th:insert="admin/_form :: navigation(1)"></nav>

<div class="m-container-big m-padded-tb-big">
    <div class="ui container">
        <!-- 搜索 -->
        <form action="#" method="post" th:action="@{/admin/types/search}" class="ui secondary segment form">
            <div class="ui horizontal list">
            <div class="item">
                <div class="content">
                    <div class="ui header">学科名称</div>
                    <div class="ui input focus">
                        <input type="text" name="type" placeholder="学科名称">
                    </div>
                </div>
            </div>

            <div class="item">
                <button type="submit" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
            </div>
        </div>
        </form>

        <!--    提示消息    -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>


        <div id="table-container">
        <table th:fragment="typeList" class="ui celled table">
            <thead>
            <tr>
                <th>序号</th>
                <th>学科名称</th>
                <th>操作</th>
            </tr></thead>
            <tbody>
            <tr th:each="subject,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${subject.name}">学科名称</td>
                <td>
                    <a href="#" th:href="@{/admin/type/{id}/input(id=${subject.id})}" class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{/admin/type/{id}/delete(id=${subject.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>

            </tbody>
            <tfoot>
            <tr><th colspan="4">
                <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                    <a th:href="@{/admin/types(page = ${page.number}-1)}" class="mini item" th:unless="${page.first}">上一页</a>
                    <a th:href="@{/admin/types(page = ${page.number}+1)}" class="mini item" th:unless="${page.last}">下一页</a>
                </div>
                <a href="#" th:href="@{/admin/type/input}" class="ui mini left floated teal basic button">新增</a>
            </th>
            </tr>
            </tfoot>
        </table>
        </div>

    </div>
</div>

<script type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});

		//
		function page(obj) {
		    $("[name='page']").val($(obj)).data("page");
		    loaddata();
		};

        $("#search-btn").click(function(){
            loaddata();
        });

		function loaddata() {
		    $("#table-container").load(/*[[@{/admin/types/search}]]*/"/admin/types/search",{
		        name : $("[name='name']").val(),
                page : $("[name='page']").val()
		    });
		}

	</script>

</body>
</html>