<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.css" th:href="@{/lib/editor/css/editormd.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
    <script src="../../static/lib/editor/editormd.min.js" th:src="@{/lib/editor/editormd.min.js}"></script>

</head>
<body>

<!-- 导航 -->
<nav th:insert="_fragments :: navigation(2)"></nav>

<div th:fragment="journallist" class="m-container-big m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:action="@{/journals/search}" class="ui secondary segment form">
            <input type="hidden" name="page">

            <!-- 搜索 -->
            <div class="ui horizontal list">
                <div class="item">
                    <div class="content">
                        <div class="ui mini header">学科</div>
                        <div>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="subject.id">
                                <i class="dropdown icon"></i>
                                <div class="default text">学科</div>
                                <div class="menu">
                                    <div class="item" th:each="subject : ${subjects}" th:data-value="${subject.id}" th:text="${subject.name}">Male</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui header">期刊ISSN</div>
                        <div class="ui input focus">
                            <input type="text" name="issn" placeholder="ISSN">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui header">期刊名称</div>
                        <div class="ui input focus">
                            <input type="text" name="name" placeholder="期刊名称">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content m-inline-block">
                        显示条数
                        <div class="ui selection dropdown">
                            <input type="hidden" name="numb_show">
                            <i class="dropdown icon"></i>
                            <div class="default text">20</div>
                            <div class="menu" >
                                <div class="item" th:data-value="20" >20</div>
                                <div class="item" th:data-value="30">30</div>
                                <div class="item" th:data-value="40">40</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <button type="submit" class="ui mini teal basic button"><i class="search icon"></i>搜索</button>
                </div>
            </div>
        </form>

        <!--    提示消息    -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>

        <div id="table-container">
            <table th:fragment="journal-list" class="ui celled structured table">
                <thead>
                <tr>
                    <th rowspan="2">序号</th>
                    <th rowspan="2">ISSN</th>
                    <th rowspan="2">学科</th>
                    <th rowspan="2">期刊名称</th>
                    <th colspan="5">评级</th>
                </tr>
                <tr>
                    <th>FMS</th>
                    <th>JCR排序</th>
                    <th>SJR排序</th>
                    <th>SNIP排序</th>
                    <th>IPP排序</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="journal,iterStat : ${page.content}">
                    <td th:text="${iterStat.count}">1</td>
                    <td th:text="${journal.issn}">ISSN</td>
                    <td th:text="${journal.subject!=null} ? ${journal.subject.name}">subject</td>
                    <td th:text="${journal.name}">Accounting Review</td>
                    <td th:text="${journal.fms}">4*</td>
                    <td th:text="${journal.jcr}">4</td>
                    <td th:text="${journal.sjr}">3</td>
                    <td th:text="${journal.snip}">3</td>
                    <td th:text="${journal.ipp}">3</td>
                </tr>
                </tbody>

                <tfoot>
                <tr>
                    <th colspan="13">
                        <div class="ui right floated pagination menu" th:if="${page.totalPages}>1">
                            <a th:href="@{/journals(page = ${page.number}-1)}" class="mini item" th:unless="${page.first}">上一页</a>
                            <a th:href="@{/journals(page = ${page.number}+1)}" class="mini item" th:unless="${page.last}">下一页</a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- 默认首页显示期刊列表 -->

    </div>
</div>

<script th:fragment="script" type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});
var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//127.0.0.1/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();

	</script>

</body>
</html>