<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/images/favicon.ico}" rel="shortcut icon" type="image/x-icon">
    <meta charset="UTF-8">
    <title>Journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/lib/semanticui/semantic.css}">
    <link rel="stylesheet" href="../../static/css/paper.css" th:href="@{/css/paper.css}">
    <link rel="stylesheet" href="../../static/lib/editor/css/editormd.css" th:href="@{/lib/editor/css/editormd.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/lib/semanticui/semantic.min.js}"></script>
    <script src="../../static/lib/editor/editormd.min.js" th:src="@{/lib/editor/editormd.min.js}"></script>

</head>
<body>

<!-- 导航 -->

<nav th:insert="_fragments :: navigation(2)" th:if="${lang}=='zh_cn'"></nav>
<nav th:insert="_fragments :: navigationE(2)" th:if="${lang}=='en_us'"></nav>

<div th:fragment="journallist" class="m-container-big m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="get" th:action="@{/journals/search}" class="ui secondary segment form">
            <input type="hidden" name="page">
            <input type="hidden" name="lang" th:value="${lang}">

            <!-- 搜索 -->
            <div class="ui horizontal list">
                <div class="item">
                    <div class="content">
                        <div>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="subject.id">
                                <i class="dropdown icon"></i>
                                <div class="default text">[[#{journal.discipline}]]</div>
                                <div class="menu">
                                    <div class="item" th:each="subject : ${subjects}" th:data-value="${subject.id}" th:text="${subject.name}" th:if="${lang}=='zh_cn'">Male</div>
                                    <div class="item" th:each="subject : ${subjects}" th:data-value="${subject.id}" th:text="${subject.engName}" th:if="${lang}=='en_us'">Male</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui input focus">
                            <input type="text" name="issn" placeholder="ISSN">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="ui input focus">
                            <input type="text" name="name" th:placeholder="#{journal.title}">
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="content m-inline-block">
                        [[#{journal.showsnum}]]
                        <div class="ui selection dropdown">
                            <input type="hidden" name="num">
                            <i class="dropdown icon"></i>
                            <div class="default text" th:text="${numb_show == null} ? '20' : ${numb_show}">20</div>
                            <div class="menu" >
                                <div class="item" th:data-value=10>10</div>
                                <div class="item" th:data-value=20>20</div>
                                <div class="item" th:data-value=30>30</div>
                                <div class="item" th:data-value=40>40</div>
                                <div class="item" th:data-value=-1>all</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <button type="submit" class="ui mini teal basic button"><i class="search icon"></i>[[#{search.btn}]]</button>
                </div>
            </div>
        </form>

        <!--    提示消息    -->
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功</p>
        </div>

        <div id="table-container">
            <table th:fragment="journal-list" width="100%" class="ui celled structured table">
                <thead>
                <tr class="center aligned">
                    <th  rowspan="2" th:text="#{journal.number}">序号</th>
                    <th  rowspan="2" >ISSN</th>
                    <th  rowspan="2" th:text="#{journal.discipline}">学科</th>
                    <th  rowspan="2" >[[#{journal.title}]]<p>([[#{journal.sortmsg}]])</p></th>
                    <th  colspan="4" th:text="#{journal.rating}">评级</th>
                </tr>
                <tr class="center aligned">
                    <th th:text="#{journal.fms}">FMS等级</th>
                    <th th:text="#{journal.jcr}">JCR排序</th>
                    <th th:text="#{journal.sjr}">SJR排序</th>
                    <th th:text="#{journal.snip}">SNIP排序</th>
                </tr>
                </thead>
                <tbody th:if="${page}">
                <tr th:each="journal,iterStat : ${page.content}" >
                    <td width="6%"  class="center aligned" th:text="${iterStat.count}+${page.number}*${numb_show}">1</td>
                    <td width="10%" class="center aligned" th:text="${journal.issn}">ISSN</td>
                    <td width="16%" class="center aligned" th:text="${journal.subject!=null} ? ${journal.subject.name}" th:if="${lang}=='zh_cn'">subject</td>
                    <td width="16%" class="center aligned" th:text="${journal.subject!=null} ? ${journal.subject.engName}" th:if="${lang}=='en_us'">subject</td>
                    <td width="36%" style="word-break:break-all;" th:text="${journal.name}">Accounting Review</td>
                    <td width="8%"  class="center aligned" th:text="${journal.fms}">4*</td>
                    <td width="8%"  class="center aligned" th:text="${journal.jcr}">4</td>
                    <td width="8%"  class="center aligned" th:text="${journal.sjr}">3</td>
                    <td width="8%"  class="center aligned" th:text="${journal.snip}">3</td>
                </tr>
                </tbody>
                <tbody th:if="${pagel}">
                <tr th:each="journal,iterStat : ${pagel}" >
                    <td width="6%"  class="center aligned" th:text="${iterStat.count}">1</td>
                    <td width="10%" class="center aligned" th:text="${journal.issn}">ISSN</td>
                    <td width="16%" class="center aligned" th:text="${journal.subject!=null} ? ${journal.subject.name}" th:if="${lang} == 'zh_cn'">subject</td>
                    <td width="16%" class="center aligned" th:text="${journal.subject!=null} ? ${journal.subject.engName}" th:if="${lang} == 'en_us'">subject</td>
                    <td width="36%" style="word-break:break-all;" th:text="${journal.name}">Accounting Review</td>
                    <td width="8%"  class="center aligned" th:text="${journal.fms}">4*</td>
                    <td width="8%"  class="center aligned" th:text="${journal.jcr}">4</td>
                    <td width="8%"  class="center aligned" th:text="${journal.sjr}">3</td>
                    <td width="8%"  class="center aligned" th:text="${journal.snip}">3</td>
                </tr>
                </tbody>

                <tfoot th:if="${page}">
                <tr th:if="${search==null}">
                    <th colspan="12">
                        <div class="ui right floated pagination menu" >
                            <a th:href="@{/journals(lang=${lang}, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >[[#{page.first}]]</a>

                            <a th:href="${page.first == true} ? @{/journals(lang=${lang}, num=${numb_show == null} ? '20' : ${numb_show})} : @{/journals(lang=${lang}, page = ${page.number}-1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >[[#{page.pre}]]</a>

                            <a th:href="${page.last == true} ? @{/journals(lang=${lang}, page = ${page.totalPages}-1, num=${numb_show == null} ? '20' : ${numb_show})} : @{/journals(lang=${lang}, page = ${page.number}+1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >[[#{page.next}]]</a>

                            <a th:href="@{/journals(lang=${lang}, page = ${page.totalPages}-1, num=${numb_show == null} ? '20' : ${numb_show})}" class="mini item" >[[#{page.last}]]</a>
                        </div>
                    </th>
                </tr>
                <tr th:if="${search!=null}">
                    <th colspan="12">
                        <div class="ui right floated pagination menu" >
                            <a th:href="@{/journals/search(lang=${lang}, page = 0, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >[[#{page.first}]]</a>

                            <a th:href="${page.first == true} ? @{/journals/search(lang=${lang}, page = 0, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})} : @{/journals/search(lang=${lang},page = ${page.number}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >[[#{page.pre}]]</a>

                            <a th:href="${page.last == true} ? @{/journals/search(lang=${lang}, page = ${page.totalPages}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})} : @{/journals/search(lang=${lang}, page = ${page.number}+1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >[[#{page.next}]]</a>

                            <a th:href="@{/journals/search(lang=${lang}, page = ${page.totalPages}-1, subject.id=${subid},issn=${issn},name=${name}, num=${numb_show == null}?'20':${numb_show})}" class="mini item" >[[#{page.last}]]</a>
                        </div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
        <!-- 默认首页显示期刊列表 -->

    </div>
</div>

<script th:fragment="script" type="text/javascript">
		$('.ui.dropdown').dropdown();

		//消息提示关闭初始化
		$('.message .close')
		.on('click', function() {
		    $(this)
		        .closest('.message')
		        .transition('fade');
		});

    //indexSearch
    function indexSearch() {
        var form =  document.getElementById('index-search-form');
        form.submit();
    }

var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//114.215.220.151:8081/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();

	</script>

</body>
</html>