<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../static/css/paper.css" th:href="@{/css/paper.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
</head>
<body>

<!-- 导航 -->
<nav th:insert="_fragments :: navigation(5)"></nav>

<!-- 中间内容 -->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui grid">
            <!-- left side -->
            <div class="eleven wide column">
                <div class="ui top attached segment">
                    <div class="ui header">关于我</div>
                    <p class="text" th:text="#{aboutus.about}">
                        我们是是方法是对方是的范德萨范德萨范德萨山东矿机哈萨克见好就收吧付
                    </p>
                </div>
            </div>

            <!-- right side-->
            <div class="five wide column">
                <div class="ui top attached segment">
                    <img src="../static/images/FMS.png" th:src="@{/images/FMS.png}">
                </div>

                <div th:insert="_fragments :: news"></div>
            </div>


        </div>
    </div>
</div>

<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui top attached segment">
            <div class="ui header">我们如何与会员合作</div>
        </div>
        <div class="ui attached segment">
            <p class="text" th:text="#{aboutus.corp}"></p>
        </div>
    </div>
</div>


<script>
    var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//127.0.0.1:8081/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();


</script>

</body>
</html>