<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>journal</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" th:href="@{/webjars/Semantic-UI/2.4.1/semantic.css}">
    <link rel="stylesheet" href="../static/css/paper.css" th:href="@{/css/paper.css}">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js" th:src="@{/webjars/Semantic-UI/2.4.1/semantic.min.js}"></script>
</head>
<body>

<!-- 导航 -->
<nav th:insert="_fragments :: navigation(1)"></nav>

<!-- 中间内容 -->
<div class="m-container m-padded-tb-large">
    <div class="ui container">
        <div class="ui grid">
            <!-- left side -->
            <div class="eleven wide column">
                <div class="ui top attached segment">
                    <div class="ui one column grid">
                        <div class="column">
                            <img src="../static/images/JRG.png" th:src="@{/images/JRG.png}">
                        </div>
                    </div>
                </div>

                <div class="ui attached secondary segment">
                    <h2 class="ui header item">FMS管理科学期刊列表</h2>
                    <div class="ui right aligned container">
                        <a th:href="@{/download}" class="ui button red active">下载</a>
                        <a th:href="@{/journals}" class="ui button red active">检索</a>
                    </div>
                </div>

                <div class="ui bottom attached segment">
                    <h1>期刊评级指南宗旨</h1>
                    <p>本指南旨在xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                    </p>
                </div>
            </div>

            <!-- right side-->
            <div class="five wide column">
                <div class="ui top attached segment">
                    <img src="../static/images/FMS.png" th:src="@{/images/FMS.png}">
                </div>

                <div th:insert="_fragments :: news"></div>
            </div>
        </div>
    </div>
</div>

<!-- 标签页 -->
<div class="ui container">
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">评级解释</a>
        <a class="item" data-tab="second">编辑团队</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first" >
        <p th:text="#{aboutus.pinjijieshi}">FMS评级基于ABS,ABDC等。。。。</p>
    </div>


    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui cards" >

            <div class="card" th:each="specialist : ${specialists}">
                <div class="content">
                    <img height="200" width="300" class="ui image" th:src="@{${specialist.photo}}">
                    <div class="ui divider"></div>
                    <div class="header" th:text="${specialist.name}">
                        徐伟宣
                    </div>
                    <div class="description" th:utext="${specialist.brief}">
                        主编，主要负责xxxxxxxxxxxxxxxxxxxx
                    </div>
                </div>
            </div>

        </div>

</div>

<script type="text/javascript">
    $('.menu .item')
    .tab()
    ;

    var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//127.0.0.1/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>

</body>
</html>